body {
  background-color: #121212;
  color: #f9f9f9;
  font-family: "Noto Sans KR", sans-serif;
}

a {
  color: #f9f9f9;
}

body.dark {
  background-color: #000000;
  color: #ffffff;
}

body.dark a {
  color: #ffffff;
}

body.light {
  background-color: #ffffff;
  color: #000000;
}

body.light a {
  color: #000000;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  padding: 80px 0;
}
